/* Confirmação Inscrição */

.espacamento-confirmacao {
    margin-top: 100px;
    padding-bottom: 200px;
    
}

.background-confirmacao {
    background-color: $cor-branca;
    text-align: justify;
    box-shadow: 1px 1px 1px 1px #000;
    padding: 50px;
    margin-bottom: 2%;
    border: 1px solid #ddd;
    box-shadow:   5px 5px 5px #ddd;
}