/* Edital e Manual */
.border-edital {
    background-color: #185f9c;
    width: 100%;
    text-align: center;
    color: white;
    min-height: 300px;
}

.background-branco {
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
}

.caixa-edital {
 box-shadow: 1px 1px 1px 0px #807979;
    border-radius: 10px;
    text-align: center;
    color: #807979;
    min-height: 120px;
}



