/* Tela de financiamentos */

.titulo-financiamento {
    text-transform: uppercase;
    
}

.background-fin {
}

.propagandaFinanciamento {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}