// Mixins mais utilizados no meu Sass

@mixin borda-arredondada {
   -webkit-border-radius: $raio;
   -moz-border-radius: $raio;
   -o-border-radius: $raio;
   -ms-border-radius: $raio;
   border-radius: $raio; 
    
}